 <div class="col-md-12">
    <div class="row box">
      <div class="box-inner col-md-6 col-md-offset-3">
        <br></br>
          <h1 class="title">如果你是个手艺人</h1>
        <p class="slogan">
          <br>
          在这个喧嚣的空气里，有这样一方净土
          <br>
          让你在这里栖息，在这里打磨自己的理想的器和物
          <br>
          必然，你的执着，你的手艺，会成为他人生活中美的源泉
        </p>
        <p class="lead">
          <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
        </p>
      </div>
    </div>
  </div>


    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">传承</h2>
            <p class="lead">你可以是中式家具的制作传承人</p>
              <p class="lead">用你的手诠释一把椅子的生命力</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'picture1.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">匠人</h2>
            <p class="lead">你可以是一名潮的皮具匠人<a target="_blank" href="http://blog.niclin.tw"></a></p>
            <p class="lead">用你的手中的刻刀告诉人们你要讲述的故事</p>

          </div>
          <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'picture2.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>

    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">心灵</h2>
            <p class="lead">你可以是一名植物染技艺的传人<a target="_blank" href="https://forum.qzy.camp/"></a></p>
            <p class="lead">用大自然的染料绘出生命的色彩</p>
          </div>
          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'picture3.jpg', class: 'img-responsive' %>
          </div>
        </div>
      </div>
    </div>
