
 <footer class="text-center">
    <div class="footer-below">
      <p class="text-center">Copyright ©2017 Job Listing
          <br>Design by
          <a href="http://suzhi-blog.logdown.com" target=_new>苏智</a>
      </p>
    </div>
  </footer>
